
.fixed-header {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  z-index: 100;

}

  .logo-text {
    color:#018ca8;; /* Set text color to white */
    text-decoration: none;
    text-size-adjust:initial;
    font-weight: bold; /* Remove underline */
}
.logotext {
  color: #018ca8;; /* Set text color to white */
  text-decoration: none;

  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* Remove underline */
}
  .slogan{
    color:#018ca8;
   text-decoration-line:none;
   text-decoration: rgb(75, 149, 203);
   align-items: left;
   text-align: right;
  }
  
  
  .logo-img{
    width:15%;
    height: 15%;
      }
      .nav-li{
color:gray;
size: small;

text-decoration-line: none;
      }
      .nav-link-text{
        color:#018ca8;
        font-weight: bold;
      }
      .white{
        color:#018ca8;
      }